{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1>YOUR FAVORITES</h1>
    <!-- Search -->
    <form class="bar" action="{{ url_for('favoritesearch') }}" method="get">
        <input class="search-bar" type="search" placeholder="SEARCH IN YOUR FAVORITES" aria-label="Search" name="query"
            value="{{ request.args.get('query', '') }}">
    </form>

    {% if not products %}
    <p>Your favorites list is empty. Start adding products to your favorites!</p>
    {% else %}
    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text font-weight-bold">{{ product.price }}</p>

                    <!-- Add to Cart Button -->
                    <form method="POST" action="{{ url_for('add_to_cart', product_id=product.id) }}">
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <button type="submit" class="cart btn btn-primary">ADD TO CART</button>
                    </form>

                    <!-- Remove from Favorites Button -->
                    <form method="POST" action="{{ url_for('remove_from_favorites', product_id=product.id) }}">
                        <button type="submit" class="gender btn">REMOVE FROM FAVORITES</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}